
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}

.header{
    padding:  10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(75, 171, 107);
}
.logoimg{
    height: 70px;
    width: 70px;
}
.navlink{
    padding: 40px;
}
.navlink>a{
    margin-right: 40px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    transition: font-size 1s;
}
.navlink>a:hover{
    font-size: 40px;
}
#home{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(100, 194, 131);

}
.desc{
    padding: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc>a{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    width: fit-content;
}
.imgcontainer{
    position: relative;
}
#img1{
    width: 70%;
}
#img2{
    width: 400px;
    position: absolute;
    top: 10px;
    left: 50px;
}
/* #username{
    color: blueviolet;
} */
#about{
    
    padding: 30px;
    background-color: rgb(135, 216, 160);
}
#abouts{
    text-align: center;
    font-size: 35px;
}
#about>h1{
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}
.abtcontainer{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;

}
#abtimg{
    width: 70%;
}
.abtinfo{
    padding-left: 30px;
    
}
.abtinfo>p{
    text-align: justify;
    font-size: 20px;

}

.expandedu {
        display: flex;
        justify-content: space-around;
        box-shadow: 40px;
}



#graduate {
    padding-left: 100px;
}
.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}
.exp {
    color: black;
    height: 160px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 11, 10);
    border-image: initial;
    border-radius: 20px;
}
.exu{
    color: black;
    height: 160px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 11, 10);
    border-image: initial;
    border-radius: 20px;
}

#skills {
    text-align: center;
    background-color: rgb(166, 232, 188);
    
}
#skill{
    text-align: center;
    font-size: 35px;
}
.skillsets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.languages {
    color: black;
    height: 255px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 11, 10);
    border-image: initial;
    border-radius: 20px;
}
.frontend {
    color: black;
    height: 253px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 11, 10);
    border-image: initial;
    border-radius: 20px;
}
.backend {
    color: black;
    height: 253px;
    width: 200px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(1, 11, 10);
    border-image: initial;
    border-radius: 20px;
}
#projects{
    /* margin-top: 5px; */
    background-color: rgb(192, 251, 211);
}
#project{
    text-align: center;
    font-size: 35px;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(51, 51, 51);
    gap: 20px;
}

.card {
    background-color: rgb(181, 237, 198);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(51, 51, 51);
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.5s;
}
#contact {
    /* margin-top: 10px; */
    background-color: rgb(211, 246, 223);
}
#contacts {
    text-align: center;
    font-size: 35px;
    padding: 30px;
}
#list {
    text-align: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
